{% extends "base.html" %}

{% block content %}
<div class="container">
    <div id="loader"></div>
    <div class="row">
        <div class="">
            <label> Filter</label>
            <select class="form-control" id ='first_cat'>
                <option value="all">-Select League-</option>
                {% for league in leagues %}
                <option value="{{ league.id }}">{{ league.name }}</option>
                {% endfor %}
            </select>
            <select class="form-control" id ='country'>
                <option value="all">-Select Country-</option>
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>
        <button onclick="myFunction()">Generate</button>
        <div class="">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
    <div class="row" style="color:black">
        {{ table1 }}
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

{% endblock %}